* {    
    margin:0;
    box-sizing: border-box;
    border-radius: 5px;
}
body {
    background-color: #665277;  
}

.title {
text-align: center;
font-size: 35px;
font-family: synth;
color: aliceblue;
text-shadow: 0px 0px 10px rgb(34, 3, 106), 5px 0 30px rgb(208, 203, 212), 0 1px 5px rgb(8, 212, 97);
margin: 10px 10px 10px 10px;
border-radius: 5px;
background-color: #36223e;
box-shadow: 0px 0px 3px rgb(34, 3, 106), 5px 0px 8px #dfc3de, 0px 5px 8px #dfc3de;
overflow: visible;
width: 90%;
}

.title2 {
    text-align: center;
    font-size: 30px;
    font-family: synth;
    color: aliceblue;
    text-shadow: 0px 0px 10px rgb(34, 3, 106), 5px 0 30px rgb(208, 203, 212), 0 1px 5px rgb(8, 212, 97);
    margin: 5px 1% 5px 1%;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    background-color: #36223e;
    box-shadow: 0px 0px 3px rgb(34, 3, 106), 5px 0px 8px #dfc3de, 0px 5px 8px #dfc3de;
    overflow: visible;    
    }

.title h1 {
    display: inline-block;
    margin: 10px 10px 10px 10px;
    width: 100%;
}

.inline {
    display: inline-block; 
}

.date {
    text-align: left;    
    padding: 0px 0px 0px 20px;    
}
.product-row {
    width: 96%;
    box-sizing: border-box;
    overflow: auto;
    border-bottom-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-bottom-color: #036767;    
    background-color: #d4f0ea;
    box-shadow: 0px 0px 3px #036767 inset;
    padding: 0px 0px 0px 20px;
    margin: 0% 0% 0% 2%;  
    
}
.discount-row {
    width: 96%;
    box-sizing: border-box;
    overflow: auto;            
    border-radius: 5px;
    background-color: #eae4ed;
    box-shadow: 0px 0px 3px #036767 inset;
    padding: 0px 0px 0px 20px;
    margin: 0% 0% 0% 2%;  
    
}
.column20right {
    float: right;    
    width: 20%;
    text-align: center;
    padding: 5px;
}
.column20left {
    float: left;    
    width: 20%;
    text-align: center;
    padding: 5px;
}
.column40right {
    float: right;    
    width: 38%;
    text-align: center;
    padding: 5px;
    margin: 0% 1% 0% 1%;
}
.column60 {
    float: left;    
    width: 58%;
    padding: 5px;
    margin: 0% 1% 0% 1%; 
}
.column50 {
    float: left;    
    width: 48%;
    padding: 5px;
    margin: 0% 1% 0% 1%; 
}
.column40 {
    float: left;    
    width: 40%;
    padding: 5px; 
}
.column28left {
    float: left;
    text-align: right;   
    width: 28%;
    padding: 5px;
    margin: 0% 1% 0% 1%; 
}
.ProductByDate-row
{
    background-color: #eae4ed;    
    text-shadow: 0px 0px 5px rgb(245, 243, 250), 5px 0 30px rgb(160, 128, 186), 0 1px 10px #e2cafb;    
    box-shadow: 0px 0px 3px rgb(34, 3, 106), 5px 0px 8px #dfc3de, 0px 5px 8px #dfc3de;
    padding: 0px 0px 0px 20px;
}
.one-product
{       
    text-shadow: 0px 0px 5px rgb(245, 243, 250), 5px 0 30px rgb(160, 128, 186), 0 1px 10px #e2cafb;    
    box-shadow: 5px 5px 20px rgb(45, 178, 193), 10px 10px 10px rgb(132, 0, 255);
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    background-color: rgba(234, 228, 237, 0.5);
    border-radius: 5px; 
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    
  }

.add-form {
    margin: 30px 30px 30px 30px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    max-width: 600px;
    border-radius: 5px;
    background-color: #36223e;
    box-shadow: 0px 0px 3px rgb(34, 3, 106), 5px 0px 8px #dfc3de, 0px 5px 8px #dfc3de;
}
.add-form-quantity {
    max-width: 20%;
    display: inline-block;
    margin: 0 0 0 10px;
}
.add-form-column {
    max-width: 43%;
    display: inline-block;
    margin: 0px 20px 0px 0px;
}
.add-form-Keyname {
    display: inline-block;
    max-width: 60%;
    margin: 0;
}
.add-form-AdditionalInfo {
    display: inline-block;
    max-width: 45%;
    margin: 0% 0% 0% 10%;
}
.add-form-purchaseDate {
    display: block;
    max-width: 80%;    
    margin: 0% 0% 0% 10%;
}
.add-form input, .add-form select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 10px;
    box-shadow: 0px 0px 2px #26053e, 1px 0px 5px #4e8d80;
}
.add-form label {
    font-size: 25px;
    color: rgb(191, 159, 210);
    font-family: synth2;
    text-shadow: 0 0 5px #011c16, 1px 0 10px #efb3f7;
}
.add-form button {
  width: 50%;
  background-color: #4e8d80;
  color: white;
  padding: 10px 20px;
  margin: 20px 25%;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}
.add-form button:hover {
    background-color: #036767;  
}
.column1 {
    
    float: left;
    width: 30%;
    padding: 0 0 0 30px;
}
.column2 {
    
    float: left;
    width: 60%;
    padding: 0px 0px;
}
.column3 {
    
    float: left;
    width: 10%;
    padding: 0px 0px;
}
.home {
    text-align: center;
    font-size: 5vmin;
    padding: 50px 30% 13%;
    background-color: #b3f7c3;
    color: crimson;
    font-family: Synth;
    text-shadow: 1px 1px 2px rgb(23, 144, 163), 0 0 25px rgb(31, 31, 110), 0 0 5px rgb(94, 186, 233);
}
.home h1 {
    font-size: 10vmin; 
    display:block; 
}

.navbar-background {    
    background-color: #65336d;
    font-family: synth2;

}
.navbar1 {
    display: inline-block;
    background-color: rgb(107, 100, 122);   
}

.navbar2 {
    display: inline-block;
    background-color: rgb(107, 80, 122);
}
.navbar3 {
    display: inline-block; 
    background-color: rgb(107, 60, 122);
   
}
.navbar-background a {
    font-size: 3vmin;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
}
.navbar-background a:hover {
    background-color: rgb(126, 100, 100);
    color: white;
    text-decoration: none;
  }

.border1 {
    background-image: url("img/gradienTop.png");
    height: 200px;
    background-color: rgb(179, 247, 195);
}
.border-view {
    background: rgb(101,51,109);
    background: linear-gradient(180deg, rgba(101,51,109,1) 0%, rgba(156,137,172,1) 35%, rgba(131,121,141,1) 100%);
    height: 50px;
    
}
.border2 {
    background-image: url("img/gradientBot.png");
    height: 200px;
    background-color: rgb(179, 247, 195);
}

.view-select {
    padding: 0px 0px 0px 0px;
    text-align: center;
    max-width: 30%;
    display: inline-block;
}
.view-select select {
    font-size: 3vmin;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-shadow: 5px 5px 20px rgb(45, 178, 193), 10px 10px 10px rgb(132, 0, 255);
    border-radius: 5px;
}
@font-face {
    font-family: synth;
    src: url(img/sujeto1.ttf);
  }
@font-face {
    font-family: synth2;
    src: url(img/sujet.ttf);
  }

.view2 {
    text-align: left;
    font-family: "Lucida Console";
    color: aliceblue;
    text-shadow: 0px 0px 10px rgb(34, 3, 106), 5px 0 30px rgb(208, 203, 212), 0 1px 5px rgb(8, 212, 97);
    margin: 20px 20px 20px 0px;
    border-radius: 5px;
    background-color: #36223e;
    box-shadow: 0px 0px 3px rgb(34, 3, 106), 5px 0px 8px #dfc3de, 0px 5px 8px #dfc3de;
    overflow: visible;
    padding: 10px 10px;
    font-size: 3vmin;
}

#borderScrew { 
    border: 20px solid ;
    padding: 15px;
    border-image: url(img/screwCaps2.png) 30 round;
    border-image-slice: 140;
  }

  .date-outline {
    font-size: 3vmin;    
    padding: 10px 10px;
    margin: 10px 0;
    box-shadow: 5px 5px 20px rgb(45, 178, 193), 10px 10px 10px rgb(132, 0, 255);    
    border-radius: 5px;    
    background-color: #eae4ed;
    margin: 5px;
    width: 90%;
  }

  .view2-table {
    font-size: 2vmin;    
    padding: 0px 10px;
    margin: 10px 0;
    box-shadow: 5px 5px 20px #2eb3c2, 10px 10px 10px rgb(132, 0, 255);    
    border-radius: 5px;    
    background-color: #eae4ed;
    margin: 5px;
    width: 90%;
  }

  .title2 button {
    box-shadow: 5px 5px 20px #2eb3c2 inset;
    background-color: rgb(179, 247, 195);
    font-family: synth2;
  }

  .space-left {
    width: 30px;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(250, 248, 248, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(7, 7, 7, 0.2);
    padding: 12px 12px;
    margin: 0px 0px 0px 200px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: inline-block;
  }

  .dropdown label {
    width: 200px;
  }